<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated axcore -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="axcore.presentation.AxcoreModelWizardID"
            name="%_UI_AxcoreModelWizard_label"
            class="axcore.presentation.AxcoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AxcoreModelFile.gif">
         <description>%_UI_AxcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated axcore -->
      <editor
            id="axcore.presentation.AxcoreEditorID"
            name="%_UI_AxcoreEditor_label"
            icon="icons/full/obj16/AxcoreModelFile.gif"
            extensions="axcore"
            class="axcore.presentation.AxcoreEditor"
            contributorClass="axcore.presentation.AxcoreActionBarContributor">
      </editor>
   </extension>

</plugin>
